.appHeader {
    font-size: 30px;
    line-height: 1.2em;
    color: #fff;
    padding: 10px 30px 0 5px;
    margin-top: 0px;
    overflow: hidden;
    padding-right: 30px;
}
.reduceImageHeight {
    height: 70px !important;
}
#content {
    background: #f3f3f3;
    padding-top:5px !important;
}
#contact-form input {
    font-size: 14px !important;
}
body .ui-inputtext {
    font-size:14px !important;
}
@keyframes sectionSize {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity:1;
    }
}
@keyframes sectionSize2 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.75;
    }
    100% {
        opacity:1;
    }
}
@keyframes sectionSize3 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.75;
    }
    100% {
        opacity:1;
    }
}
@keyframes sectionSize4 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.75;
    }
    100% {
        opacity:1;
    }
}
.electricity {
    background: url(../../assets/images/electricity2.jpg) white right no-repeat;
    background-size: contain;
    padding-left: 50px;
    margin-left:175px;
    padding-top:2px;
    height:430px;
    width: 1000px !important;
    animation-name: sectionSize;
    animation-duration: 3s;
}
.water {
    background: url(../../assets/images/water.jpg) white right no-repeat;
    background-size: contain;
    padding-left: 50px;
    margin-left:175px;
    padding-top:2px;
    height:430px;
    width:1000px !important;
    animation-name: sectionSize2;
    animation-duration: 3s;
}
.plastic {
    background: url(../../assets/images/plastic.jpg) white right no-repeat;
    background-size: contain;
    padding-left: 50px;
    margin-left:175px;
    padding-top:2px;
    height:430px;
    width: 1000px !important;
    color:black !important;
    animation-name: sectionSize3;
    animation-duration: 3s;
}
.gas {
    background: url(../../assets/images/gas3.jpg) white right no-repeat;
    background-size: contain;
    padding-left: 50px;
    padding-right: 50px;
    margin-left:175px;
    padding-top:2px;
    height:430px;
    width:1000px !important;
    animation-name: sectionSize4;
    animation-duration: 3s;
}
li a:hover {
    color:black;
}
li a.active {
    font-weight: bold;
}
label {
    margin-bottom:-10px !important;
    margin-top:15px !important;
}
.whiteHeader {
    color:black !important;
}
.text-form {
    color:black !important;
    /* width:200px !important; */
    font-size: 16px !important;
    line-height: 30px !important;
}
.container_12 {
    margin-right:-20px;
    width:1200px !important;
}
.button {
    margin-top: 25px;
    padding: 9px 28px 9px 28px;
}
.modalText {
    margin-top:20px;
    margin-bottom:-20px;
}
.ui-lightbox-content.ui-lightbox-loading + a { display:none; }