.appHeader {
    font-size: 40px;
    line-height: 1.2em;
    color: #fff;
    padding: 10px 30px 0 150px;
    margin-top: 0px;
    overflow: hidden;
    padding-right: 30px;
}
.appSecHeader {
    color:white !important;
}
.homeImageAlignment {
    text-align:center;
}
.homeImageAlignment img {
    border-radius:30px;
}
.reduceImageHeight {
    height: 100px !important;
}
.level1Img {
    margin-top:-15px;
    height: 90px;
}
.inlineListItems {
    display:inline-block;
} 
.botMar {
    margin-bottom:0px;
    font-size:13px;
}
.link {
    text-decoration: underline;
    color:darkblue;
    cursor: pointer;
}
.sectionPadding {
    padding-top:0px;
    padding-bottom:0px;
    background: azure;
}
#content {
    background: ghostwhite;
}
.text-2 {
    font-size:15px !important;
}
li a.active {
    font-weight: bold;
}
.actionDetails {
    padding-bottom: 30px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 15px;
}
.list-3 li {
    list-style-type: disc;
    margin-left:25px;
}
.taskCompleted {
    height: 30px;
    width: 30px;
    float: left;
    margin-right: 10px;
}
.grid_10 .fright a:hover {
    color:white !important;
}
.popupButton {
    background: cadetblue;
    border-radius: 9px;
    border: none;
    color: black;
    font-weight: bold;
    height: 30px;
    width: 65px;
}
.disabledLink {
    text-decoration: underline;
    cursor:not-allowed;
}
.uploadSection {
    margin:15px;
    padding:5px;
}
.innerUpload {
    margin:20px;
    padding:5px;
    padding-bottom:15px;
    border-bottom:2px solid lightgrey;
}
.buttonStyle {
    padding: 9px 28px 9px 28px !important;
    color: white !important;
}
.attachmentSection {
    margin-top:15px;
    border-top:2px solid lightgrey;
}
.viewProof {
    text-decoration: underline;
    color:darkblue;
    cursor: pointer;
    margin-top:5px;
}