.headerHeight {
    height:90px;
}
.appSecHeader {
    color:white;
    padding:0px;
    font-size:24px !important;
}
.tableSection {
    margin:20px 30px 30px 80px;
    width:85%;
    text-align:center;
}
th, td {
    padding:30px !important;
}
th {
    text-align:center;
}
.save {
    text-align: right;
    margin-right: 120px;
}
.saveButton {
    background: lightgrey;
    border-radius: 5px;
    border-color: lightgray;
    color: black;
    font-weight: bold;
}
.buttonStyle2 {
    padding: 2px 2px 2px 2px !important;
    color: white !important;
    border: none;
    margin-left: -5px;
}
.buttonStyle {
    padding: 9px 28px 9px 28px !important;
    color: white !important;
    border: none;
}
.reject {
    background: red !important;
    margin-left:3px;
}