<div class="row-bot headerHeight">
  <div class="row-bot-bg headerHeight">
    <div class="main">
      <div class="wrapper p6">
        <h1 class="appSecHeader">Your action is required on pending approvals</h1>
      </div>
    </div>
  </div>
</div>
<div class="tableSection">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Holidex</th>
        <th>Level</th>
        <th>Green Measure</th>
        <th>Proofs</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody *ngIf="hasProofs">
      <tr *ngFor="let proof of newList">
        <td>{{proof.hotelCode}}</td>
        <td>{{proof.level}}</td>
        <td>{{proof.levelType}}</td>
        <td><a (click)="downloadFile(proof)">{{proof.fileName}}</a></td>
        <td>
          <div>
            <button class="button btn-sm col-xs-6 buttonStyle2 glyphicon glyphicon-ok" (click)="update('Approved',proof.attachment_id)"></button>
            <button class="button btn-sm col-xs-6 buttonStyle2 reject glyphicon glyphicon-remove" (click)="update('Rejected',proof.attachment_id)"></button>
          </div>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="!hasProofs">
      <tr>
        <td colspan="5">No approvals pending</td>
      </tr>
    </tbody>
  </table>
</div>
<p-dialog header="Status Updated!" id="modal" [(visible)]="showConfirmDialog" [closable]="true" modal="modal" width="300" height="180" [responsive]="true">
  <h4 *ngIf="!actionCompletedPrev">{{status}}</h4>
  <br>
  <a class="button buttonStyle" (click)="hideFileConfirmDialog()">Close</a>
</p-dialog>