.appHeader {
    font-size: 40px;
    line-height: 1.2em;
    color: #fff;
    padding: 10px 30px 0 150px;
    overflow: hidden;
    padding-right: 30px;
    margin-top:-5px;
    margin-left:85px;
}
.appSecHeader {
    margin-top:0px !important;
    color: white !important;
}
.reduceBotMar {
    margin-bottom:10px !important;
}
.homeImageAlignment {
    margin-left: 150px;
}
.homeImageAlignment img {
    border-radius:30px;
}
.slides {
    height:400px;
    width:900px;
}
#sliderHome {
    background-size: cover;
    height: 400px;
    width: 900px;
    animation-name: background;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes background {
    0% {
      background-image: url(../../assets/images/green-ux-sustainable-ui-design.png);
    }
    10% {
      background-image: url(../../assets/images/green-ux-sustainable-ui-design.png);
    }
    50% {
      background-image: url(../../assets/images/home2.png);
    }
    100% {
      background-image: url(../../assets/images/home3.png);
    }
}    