<div class="row-bot">
  <div class="row-bot-bg">
    <div class="main">
      <div class="wrapper p6 reduceBotMar">
        <h1 class="appHeader">Eco Amica</h1>
        <h2 class="appSecHeader">Help save the environment with us!</h2>
      </div>
      <div class="homeImageAlignment">
        <div id="sliderHome">
        </div>
      </div>
    </div>
  </div>
</div>